* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
}
.title-div {
  position: sticky;
  top: 0;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
  background-color: #220083;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.title-div img {
  height: 35px;
  margin-right: 0.25rem;
}
.heading {
  margin: 0;
  color: white;
  padding: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titlelink {
  text-decoration: none;
}
.search-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  padding: 0;
  margin: 20px auto 12px auto;
  width: 50vw;
  background-color: #fff;
}
#search-text {
  border: 1px solid #cbcbcb;
  border-radius: 0.5rem;
  padding: 10px 20px 10px 20px;
  font-family: inherit;
  outline: none;
  flex-grow: 1;
  background: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
  background-size: 17px 18px;
  text-indent: 15px;
  box-shadow: 0px 0px 23px 10px rgba(0, 0, 0, 0.04);
}
#search-text::placeholder {
  color: #c3c3c3;
}
#clear-search {
  position: absolute;
  right: 11px;
  cursor: pointer;
  background-color: #fff;
  border: none;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.list-items {
  overflow-y: auto;
  width: inherit;
  margin: 0;
  padding: 0;
}
.add-empty-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#empty-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#empty-image figcaption,
#noResultsFoundImage figcaption {
  color: #00488a;
  padding-top: 10px;
}
.empty {
  max-height: 8rem;
  max-width: 8rem;
  color: #00488a;
}
.input-area {
  display: flex;
  align-items: center;
  width: inherit;
  padding: 0;
  position: fixed;
  bottom: 10px;
}
#new-note-input {
  margin-right: 0.7rem;
  border: 1px solid #cbcbcb;
  border-radius: 0.5rem;
  flex-grow: 1;
  padding: 10px 20px 10px 20px;
  font-family: inherit;
  outline: none;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.submit-button {
  margin-left: 0.7rem;
  background-color: #220083;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  border: 0.5px solid black;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
#printing-list {
  margin: 0;
  padding: 0;
}
#printing-list li {
  border-bottom: 1px solid rgb(212, 212, 212);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.75rem 0;
  /* white-space:pre-wrap; */
  word-break: break-word;
}
.buttons {
  display: flex;
  align-items: center;
}

.mobile-save-button,
.edit-button {
  cursor: pointer;
  border-radius: 17px;
  height: 35px;
  width: 35px;
  background-color: #220083;
  outline: none;
  border: 0.5px solid black;
  margin: 0 1rem;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.remove-button {
  cursor: pointer;
  border-radius: 17px;
  height: 35px;
  width: 35px;
  background-color: #ff0000;
  outline: none;
  border: 0.5px solid black;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.remove-button img {
  height: 25px;
  width: 25px;
  position: relative;
  right: 1px;
  top: 2px;
}
.checkbox {
  min-height: 18px;
  min-width: 18px;
  outline: none;
  margin-right: 10px;
  border-radius: 0rem;
  border: 1px solid black;
}
.checkbox:disabled {
  cursor: not-allowed;
}
.list-content {
  display: flex;
  margin: 0;
  align-items: center;
}
.descriptionDate {
  color: #989898;
  font-size: 13px;
  margin-top: 0.25rem;
  cursor: default;
}
.submission,
.edit-button,
.remove-button,
.checkbox,
.description {
  cursor: pointer;
}
.modal-backdrop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000088;
}
.modal {
  width: 400px;
  height: 190px;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
}
.empty-modal-content {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 0.25rem;
}
.empty-modal-button {
  margin-left: auto;
  position: relative;
  top: 2.5rem;
  left: 18rem;
}
.deletion-modal-buttons {
  margin-left: auto;
  position: relative;
  display: inline;
  top: 1.5rem;
  left: 12rem;
  margin-right: 0.5rem;
}
.normal-button {
  background-color: white;
  color: black;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  border: none;
  min-height: 35px;
  min-width: 70px;
  border: 1px solid #c3c3c3;
  margin-right: 1rem;
}
.danger-button {
  background-color: red;
  color: white;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  border: none;
  min-height: 35px;
  min-width: 70px;
}
.content-inside-modal {
  padding-top: 1rem;
  font-size: 1.2rem;
}
.heading-inside-modal {
  font-size: 1.5rem;
}
.strike-through,
.description:not([contentEditable="true"]):hover {
  color: #989898;
  text-decoration-line: line-through;
}

.description[contentEditable="true"] {
  display: flex;
  min-width: 20px;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 0 0 1px #005aad;
  cursor: text;
}
.overlay {
  display: none;
}
.fa-light {
  color: #fff;
  font-size: 1.05rem;
  cursor: pointer;
}
.fa-dark {
  color: #555;
  font-size: 1.05rem;
  cursor: pointer;
}
.fa-grey {
  color: #aaa;
}
.menu-button {
  cursor: pointer;
  margin-right: 1rem;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.42rem;
  width: 1.75rem;
  height: 1.75rem;
  display: none;
}
.menu-button:hover {
  background-color: #eee;
}
.menu-button:active {
  background-color: #ddd;
}
.mobile-save-button {
  display: none;
}

.hidden {
  display: none !important;
}
