body {
  margin: 0;
  padding: 0;
  position: relative;
}
.title_div {
  position: sticky;
  top: 0;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
  background-color: #220083;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.title_div img {
  height: 35px;
  margin-right: 0.25rem;
}
.heading {
  margin: 0;
  color: white;
  padding: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  padding: 0;
  margin: 20px auto 12px auto;
  width: 50vw; 
}
#searchText{
  border: 1px solid #cbcbcb;
  border-radius: 0.5rem;
  padding: 10px 20px 10px 20px;
  font-family: inherit;
  outline: none;
  flex-grow: 1;
  background-image: url(./images/search.svg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
  background-size: 17px 18px;
  text-indent: 15px;
  box-shadow: 0px 0px 23px 10px rgba(0, 0, 0, 0.04);
}
#searchText::placeholder{
  color:#C3C3C3
}
.searchButton{
  background-color: #220083;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  border: 0.5px solid black;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
  background-image: url(./images/icons8-send-64.png);
  background-size: auto 30px;
  background-position: 40px 60px;
  background-repeat: no-repeat;
}
.todo_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.list_items {
  overflow-y: auto;
  height: calc(100vh - 135px);
  width: inherit;
  margin: 0;
  padding: 0;
}
.addEmptyImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#emptyImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#emptyImage figcaption{
  color:#00488A;
  padding-top: 10px
}
.list_items img {
  max-height: 8rem;
  max-width: 8rem;
  color: #00488a;
}
.input_area {
  display: flex;
  align-items: center;
  width: inherit;
  padding: 0;
  /* margin-top: 20px; */
  position: fixed;
  bottom: 10px;
}
#input_notes {
  margin-right: 0.7rem;
  border: 1px solid #cbcbcb;
  border-radius: 0.5rem;
  flex-grow: 1;
  padding: 10px 20px 10px 20px;
  font-family: inherit;
  outline: none;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.submission {
  margin-left: 0.7rem;
  background-color: #220083;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  border: 0.5px solid black;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
  background-image: url(./images/icons8-send-64.png);
  background-size: auto 30px;
  background-position: 40% 60%;
  background-repeat: no-repeat;
}
#printing_list {
  margin: 0;
  padding: 0;
}
#printing_list li {
  border-bottom: 1px solid rgb(212, 212, 212);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.75rem 0;
  /* white-space:pre-wrap; */
  word-break: break-word;
}
.buttons {
  display: flex;
  align-items: center;
}
.edit_button {
  border-radius: 17px;
  height: 35px;
  width: 35px;
  background-color: #220083;
  outline: none;
  border: 0.5px solid black;
  margin: 0 1rem;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.editButtonImage {
  position: relative;
  right: 2px;
  top: 2px;
}
.saveButtonImage {
  position: relative;
  right: 3px;
  max-width: 29px;
}
.remove_button {
  border-radius: 17px;
  height: 35px;
  width: 35px;
  background-color: #ff0000;
  outline: none;
  border: 0.5px solid black;
  box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.remove_button img {
  height: 25px;
  width: 25px;
  position: relative;
  right: 1px;
  top: 2px;
}
.checkbox {
  min-height: 18px;
  min-width: 18px;
  outline: none;
  margin-right: 10px;
  border-radius: 0rem;
  border: 1px solid black;
}
.checkbox:disabled {
  cursor: not-allowed;
}
.list_content {
  display: flex;
  margin: 0;
  align-items: center;
}
.descriptionDate {
  color: #989898;
  font-size: 13px;
  margin-top: 0.25rem;
}
.submission,
.edit_button,
.remove_button,
.checkbox,
.description,
.descriptionDate {
  cursor: pointer;
}
.modalClose,
.noshow {
  display: none;
}
.emptyModalParent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000088;
}
.modal {
  /* position: absolute; */
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  /* display: flex; */
  /* flex-direction: column; */
}
.emptyModalContent {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 0.25rem;
}
.emptyModalButton {
  margin-left: auto;
  position: relative;
  /* display: absolute; */
  top: 2.5rem;
  left: 20rem;
  /* margin-top: auto; */
}
.removeModalButtons {
  margin-left: auto;
  position: relative;
  display: inline;
  top: 2.5rem;
  left: 14rem;
  margin-right: 0.5rem;
}
.normalButton {
  background-color: white;
  color: black;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  border: none;
  min-height: 35px;
  min-width: 70px;
  border: 1px solid #c3c3c3;
  margin-right: 1rem;
}
.dangerButton {
  background-color: red;
  color: white;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  border: none;
  min-height: 35px;
  min-width: 70px;
}
.contentInsideModal {
  padding-top: 1rem;
  font-size: large;
}
.headingInsideModal {
  font-size: x-large;
}
.checkboxChecked,
.description:not([contentEditable="true"]):hover {
  color: #989898;
  text-decoration-line: line-through;
}

.description[contentEditable="true"] {
  display: flex;
  min-width: 20px;
  /* max-height: 1.5rem; */
  /* overflow-x: scroll; */
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  /* border: 2px solid #005aad; */
  box-shadow: 0 0 0 1px #005aad;
  cursor: text;
}
