body{
    margin: 0;
    position: relative;
} 
.title_div{
    position: sticky;
    top:0;
    box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
    background-color: #220083;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_div img{
    height: 35px;
    margin-right: .25rem;
}
.heading{
    margin: 0;
    color: white;
    padding: .5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.todo_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: 20px auto;

}
.list_items{
    overflow-y: auto;
    height: 80vh;
    border: 1px solid #CBCBCB;
    border-radius: .5rem;
    width: inherit;
    margin: 0;
    padding: 0;
}
.input_area{
    display: flex;
    align-items: center;
    width: inherit;
    padding: 0;
    margin-top: 10px;
}
#input_notes{
    margin-right: .7rem;
    border: 1px solid #CBCBCB;
    border-radius: .5rem;
    flex-grow: 1;
    padding: 10px 20px 10px 20px;
    font-family: inherit;
    outline: none;
    box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.submission{
    background-color: #220083;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    border: .5px solid black;
    box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.submission img{
    position: relative;
    height: 30px;
    top: 4px;
    right: 2px;
}
#printing_list{
    margin: 0;
    padding: 0;
}
#printing_list li{
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: .75rem;
    /* white-space:pre-wrap; */
    word-break: break-word;
}
.buttons{
    display: flex;
    align-items: center;
}
.edit_button{
    border-radius: 17px;
    height: 35px;
    width: 35px;
    background-color: #220083;
    outline: none;
    border: .5px solid black;
    margin: 0 1rem;
    box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.edit_button img{
    position: relative;
    right: 2px;
    top: 2px;
}
.remove_button{
    border-radius: 17px;
    height: 35px;
    width: 35px;
    background-color: #FF0000;
    outline: none;
    border: .5px solid black;
    margin-right: 1rem;
    box-shadow: 0 3px 3px 0 rgb(139, 139, 139);
}
.remove_button img{
    height: 25px;
    width: 25px;
    position: relative;
    right: 1px;
    top: 2px;
}
.checkbox{
    height: 18px;
    width: 18px;
    outline: none;
    margin-right: 10px;
    margin-left: 1rem;
    border-radius: 0rem;
    border: 1px solid black;
}
.list_content{
    display: flex;
    margin: 0;
    align-items: center;
}
.submission,.edit_button,.remove_button,.checkbox,.description{
    cursor: pointer;
}
.modal_parent{
    position: absolute;
    display:none;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000088;
}
#modal{
    width: 300px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#modal button{
    margin-left:auto;
    display: block;
    margin-top: auto;
}
.checkboxChecked{
     color:#999;
     text-decoration-line: line-through;
}
